<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Microsoft Envision</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href={{ url_for("static", filename="css/main.css")}} />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <a class="logo" href={{ url_for("index")}}>DXC Technology</a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href={{ url_for("index")}}>Product Similarity</a></li>
            <li><a href={{ url_for("bbfu")}}>Best Bag for U</a></li>
            <li><a href={{ url_for("team")}}>Team</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>Product Similarity</h1>
            <p>
                A Content-Based Search Engines tools that utilize Deep Learning to apply pattern recognition methods in order
                to retrieve similar images and facilitates the product proposal
            </p>
        </div>
        <video autoplay loop muted playsinline src="images/banner.mp4"></video>
    </section>

    <!--
    <section>
        <div>
            <a href="#" class="button primary  small icon fa-download">Upload</a>
            <a href="#" class="button  small icon fa-camera">Camera</a>
        </div>
    </section>
        -->

     
      <div >
           <img src="{{ picture_path }}" style="max-width:250px;height:auto;margin: 5% 43% 0% 43%;" />
     </div>

  

        <!-- Highlights -->
        <section class="wrapper">
            <div class="inner">
                <header class="special">
                    <h2>Product Similarity</h2>
                    <p>Here is some results from your picture :</p>
                </header>
                <div class="highlights">
                    <section>
                        <div class="content">
                            <img src="static/{{ resp[0] }}" class="testimonials"/>
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <img src="static/{{ resp[1] }}" class="testimonials"/>
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <img src="static/{{ resp[2] }}" class="testimonials"/>
                        </div>
                    </section>

                </div>
            </div>
        </section>

  

        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">





        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>DXC A²I (Analytics & Artificial Intelligence)</h3>
                        <p>A²I can transform your business. But are you only capturing a fraction of the value? Harness the complete power of analytics and AI with simplicity, choice and flexibility.</p>
                    </section>
                    <section>
                        <h4>Jumpstart your journey to analytic and AI insights</h4>
                        <ul class="alt">
                            <li><a href="#">Extract insights and value rapidly.</a></li>
                            <li><a href="#">Leverage a moder analytics and AI platform.</a></li>
                            <li><a href="#">Consume and pay for only what you need.</a></li>
                        </ul>
                    </section>
                    <section>
                        <h4>Follow DXC</h4>
                        <ul class="plain">
                            <li><a href="https://twitter.com/dxctechnology"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                            <li><a href="https://www.facebook.com/DXCTechnology"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                            <li><a href="https://www.instagram.com/DxcTechnology/"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                            <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    © DXC Technology Company 2019
                </div>
            </div>
        </footer>

        <!-- Scripts -->


        <script src={{ url_for("static", filename="js/browser.min.js")}}></script>
        <script src={{ url_for("static", filename="js/breakpoints.min.js")}}></script>
        <script src={{ url_for("static", filename="js/util.js")}}></script>
        <script src={{ url_for("static", filename="js/main.js")}}></script>


</body>
</html>